<div class="my__events">
  <h3 class="title">My Events</h3>
    <div class="card__container">
            <% @created_events.each do | event |%>
              <div class="event__card">
                <p class="event__host"><strong>Host:</strong><%= event.creator.email %></strong><br/></p>
                <p class="event__location"><strong>Location:</strong> <%= event.location %></p>
                <p class="event__date"><strong>Date:</strong>
                <%= event.date.strftime("%B")[0,3] %>
                <%= event.date.strftime("%d") %>,
                <%= event.date.year %></p>
                <div class="button__container">
                  <p><%= link_to 'View', event, class: 'btn' %></p>
                  <p><%= link_to 'Edit', edit_event_path(event), class: 'btn' %>&nbsp; &nbsp;</p>
                </div>
                <p><%= link_to 'Cancel Event', event_path(event), class: 'button', data: { turbo_method: :delete, turbo_confirm: "Click OK to confirm cancelling this event."} %></p>
          </div>
        <% end %>
    </div>
</div>