<div class="show__container">
  <div class="card__container">
            <div class="event__card">
                <h3 class="event__title"><%= @event.name %></h3>
                    <p class="event__host"><strong>Host: </strong><%= @event.creator.username %></strong><br />
                    <p class="event__location"><strong>Location:</strong> <%= @event.location %></p>
                    <p class="event__date"><strong>Date:</strong> <%= @event.date %></p>
                    <p class="event__details"><strong>Details:</strong> <%= @event.description %></p>
                    <% if @event.private == true %>
                      <p  class="event__private"><strong>Attendance:</strong>&nbsp; Private </p>
                    <% else %>
                      <p  class="event__public"><strong>Attendance:</strong>&nbsp; Public</p>
                      <% if user_signed_in? %>

                      <% else %>
                          <%= link_to 'Sign in to attend', new_user_session_path, class: 'button' %>
                      <% end %>
                    <% end %>

                      <% if user_signed_in? %>
                        <% if @event.creator == current_user %>
                         <div class="button__container">
                          <%= link_to 'Edit', edit_event_path(@event), class: 'btn' %> &nbsp; &nbsp;</p>
                          <%= link_to 'Delete', event_path(@event),
                              class: 'btn',
                              data: { turbo_method: :delete,
                                      turbo_confirm: "Click OK to confirm deleting this event." } %>
                          </div>
                       <% elsif %>
                          <% @event.private == true && current_user.attended_event_ids.include?(@event.id) %>
                            <%= link_to 'Cancell', destroy_attending_path(:attendee_id=>current_user.id, :attended_event_id=>@event.id),
                                data: { turbo_method: "delete",
                                        turbo_confirm: "You will need a new invite to attend. Click OK to confirm withdrawing." },
                                        class: 'button' %>
                        <% elsif %>
                          <% @event.private == false && !current_user.attended_event_ids.include?(@event.id) %>
                          <%= link_to 'Attend', create_attending_path(:attendee_id=>current_user.id, :attended_event_id=>@event.id),
                                    data: { turbo_method: "post" }, class: 'button' %>
                        <% elsif%>
                          <% @event.private == false %>
                          <%= link_to 'Cancel', destroy_attending_path(:attendee_id=>current_user.id, :attended_event_id=>@event.id),
                                data: { turbo_method: "delete",
                                        turbo_confirm: "Are you sure you don't want to attend?." },
                                        class: 'button' %>
                        <% end %>
                        <% else %>
                      <% end %>
                 </div>

    </div>
    <div class="attendee__container">
      <%= render 'attendeelist' %>
      <% if @event.creator == current_user %>
              <%= render 'invitepane' %>
      <% end %>
      <div>
</div>